:root {
    --c-primary: #15196e;
    --c-secondary: #50a7e1 ;
    --c-bg: #ebb8f7;
    cursor: url('../public/icons/cursor.svg') 16 16, auto;
}

body {
    box-sizing: border-box;
    background-color: var(--c-bg);
}

h1 {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    margin-block: 1rem;
    color: var(--c-primary);
}

h2 {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    margin-block: .5rem;
    color: var(--c-secondary);
}

.intro h1::before,
.intro h2::before {
    /* inspiratie van het before element met behulp van chatGPT */
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    content: "";
    vertical-align: middle;
    background-size: contain;
}

.intro h1::before {
    background: url('../public/icons/double-alt-arrow-right.svg') no-repeat center;
}

.intro h2::before {
    background: url('../public/icons/alt-arrow-right.svg') no-repeat center;
}

.intro {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;

    .text {
        text-align: center;
        border-radius: 15%;
        padding: .5rem;
    }
}

.cards {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: grid;
}

.card {
    grid-row-start: 1;
    grid-column-start: 1;

    background: none;
    border: none;
    width: min(50vw, 25em);
    aspect-ratio:2/3;
    border-radius: 1.5rem;

    transform-style: preserve-3d;
    transform-origin: 50% calc(100% + 5%);
    transition: transform 3s ease;

    &:hover {
        cursor: url('../public/icons/cursor-dice.svg') 16 16, auto;
    }
}

.card.open {
    transform: 
        rotateX( calc( -179.4deg - sibling-index() * .2deg));
}

.card-inner {
    background: white;
    border: .5rem solid white;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: inherit;
    pointer-events: none;
    transition: transform .8s;
}

.card:hover .card-inner {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}

.card-front,
.card-back {
    top: 0;
    inset: 0;  
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    border-radius: inherit;
    &> * {
        width: 100%;
        height: 100%;   
        object-fit: cover;
        border: none;
        border-radius: inherit;
    }
}

.card-front {
    background-color: var(--c-secondary);
    border-radius: inherit;
    transform: rotateX(180deg);

    &> section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.25em;
        text-align: center;
        align-self: center;
        color: white;
        
        &> p {
            padding-inline: 1rem;
        }

        &> img {
            width :min-content;
            height: min-content; 
        }
    }
}


@media (min-width: 768px) {
    .intro {
        .text {
            position: static;
            background: unset;
            background: transparent;
        }
    }

}