:root {
    --c-primary: #15196e;
    --c-secondary: #50a7e1;
    --c-bg: #ebb8f7;
    --v-card-image-object-fit: cover;
    cursor: url('../public/icons/cursor.svg') 16 16, auto;
    
    &:has(input[id="pokemon-theme"]:checked) {
        --theme:pokemon;
        --v-card-image-object-fit: contain;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-bg);
}

h1 {
    padding: .5rem;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    margin-block: 1rem;
    color: var(--c-primary);
}

h2,
label {
    padding: .5rem;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    margin-block: .5rem;
    color: var(--c-secondary);
}

label {
    position: sticky;
    top: 0.5rem;
    z-index: 9999;
    background: white;
    padding-inline: 1rem;
    border-radius: 1rem;
}

.intro h1::before,
.intro h2::before {
    /* inspiratie van het before element met behulp van chatGPT */
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    content: "";
    vertical-align: middle;
    background-size: contain;
}

.intro h1::before {
    background: url('../public/icons/double-alt-arrow-right.svg') no-repeat center;
}

.intro h2::before {
    background: url('../public/icons/alt-arrow-right.svg') no-repeat center;
}

.intro {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}

.header-text {
    text-align: center;
    border-radius: 15%;
    padding: .5rem;
}

.cards {
    /* Het gebruik van grid en de werking van de 3d kaarten heb ik van Sanne 't Hooft */
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: grid;
    justify-content: center;

    @media (min-width: 360px) {
        transform: translateX(-50%);
        align-self: center;
    }
}

.memory-card,
.card {
    background: none;
    border: none;
    border-radius: 1.5rem;

    transform-style: preserve-3d;

    &:hover {
        cursor: url('../public/icons/cursor-dice.svg') 16 16, auto;
    }
}

.card {
    grid-row-start: 1;
    grid-column-start: 1;

    width: min(45vw, 25em);
    aspect-ratio: 2/3;

    transition: transform 3s ease;
    transform-origin: 50% calc(100% + 2.5%);

    @media (min-width: 360px) {
        transform-origin: 100% 50%;
    }
}

.memory-card {
    aspect-ratio: 1/1;

    transition: transform 1.5s ease;
}

.card.open {
    transform: 
        rotateX( calc( -179.4deg - sibling-index() * .2deg));

        @media (min-width: 360px) {
            transform:
                rotateY( calc( 179.4deg + sibling-index() * .2deg));
        }
}

.memory-card.open {
    transform: 
        rotateY(.5turn);
}

.memory-card-inner,
.card-inner {
    background: white;
    border: .5rem solid white;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: inherit;
    pointer-events: none;
    transition: transform .8s;
}

.card:hover .card-inner {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}

.card-front,
.card-back,
.memory-card-front,
.memory-card-back {
    top: 0;
    inset: 0;  
    position: absolute;
    backface-visibility: hidden;

    border-radius: inherit;
}

.card-back {
    &> * {
        width: 100%;
        height: 100%;   
        object-fit: var(--v-card-image-object-fit);
        border: none;
        border-radius: inherit;
    }
}

.card-front,
.memory-card-front {
    background-color: var(--c-secondary);
    transform: rotateY(180deg);
}

.card-front {
    @media (max-width: 359px) {
        transform: rotateX(180deg);
    }
}

.card-front > section {
    position: relative;
    padding-inline: .5rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: clamp(0.5rem, 3vw, 1.25rem);
    text-align: center;
    align-self: center;
    color: white;
    
    &> * {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    &> dl {
        display: grid;
        gap: .25rem;
        text-align: start;
        width: 100%;
        overflow-wrap: break-word;

        & dt {
            font-weight: bold;
        }

        & dd {
            margin-inline-start: 1.5rem;

            &::before {
                content: '> '
            }
        }
    }

    &> #emoji {
        position: absolute;
        top: 0;
    }

    &> img {
        width: min-content;
        height: min-content;
    }
}

.memory-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: clamp(.5em, 2vw, 1.5rem);
    overflow-wrap: break-word;
    color: white;

    &> img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }
}

.memory-card-back > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.memory-field {
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem;
    width: min(80vw, 80%);

    @media (min-width: 359px) {
        grid-template-columns: auto auto auto;
    }

    @media (min-width: 599px) {
        grid-template-columns: auto auto auto auto;
    }
}

.memory-card-extra {
    @media (max-width: 360px) {
        display: none;
    }
}

.memory {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

@container style(--theme:pokemon) {
    body {
        background-color: var(--c-secondary);
        background-image: url('../public/images/decidueye.png');
        background-size: 10%;
    }

    h1,
    h2 {
        background: white;
        border-radius: 1rem;
    }
}