:root {
    --c-primary: #15196e;
    --c-secondary: #50a7e1 ;
    --c-bg: #ebb8f7;
    cursor: url('../public/icons/cursor.svg') 16 16, auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-bg);
}

h1 {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    margin-block: 1rem;
    color: var(--c-primary);
}

h2 {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    margin-block: .5rem;
    color: var(--c-secondary);
}

.intro h1::before,
.intro h2::before {
    /* inspiratie van het before element met behulp van chatGPT */
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    content: "";
    vertical-align: middle;
    background-size: contain;
}

.intro h1::before {
    background: url('../public/icons/double-alt-arrow-right.svg') no-repeat center;
}

.intro h2::before {
    background: url('../public/icons/alt-arrow-right.svg') no-repeat center;
}

.intro {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;

    .text {
        text-align: center;
        border-radius: 15%;
        padding: .5rem;
    }
}

.cards {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: grid;

    @media (min-width: 360px) {
        align-self: flex-start;
    }
}

.card {
    grid-row-start: 1;
    grid-column-start: 1;

    background: none;
    border: none;
    width: min(45vw, 25em);
    aspect-ratio:2/3;
    border-radius: 1.5rem;

    transform-style: preserve-3d;
    transform-origin: 50% calc(100% + 2.5%);
    transition: transform 3s ease;

    &:hover {
        cursor: url('../public/icons/cursor-dice.svg') 16 16, auto;
    }

    @media (min-width: 360px) {
        transform-origin: 100% 50%;
    }
}

.card.open {
    transform: 
        rotateX( calc( -179.4deg - sibling-index() * .2deg));

        @media (min-width: 360px) {
            transform:
                rotateY( calc( 179.4deg + sibling-index() * .2deg));
        }
}

.card-inner {
    background: white;
    border: .5rem solid white;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: inherit;
    pointer-events: none;
    transition: transform .8s;
}

.card:hover .card-inner {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}

.card-front,
.card-back {
    top: 0;
    inset: 0;  
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    border-radius: inherit;
    &> * {
        width: 100%;
        height: 100%;   
        object-fit: cover;
        border: none;
        border-radius: inherit;
    }
}

.card-front {
    background-color: var(--c-secondary);
    border-radius: inherit;
    transform: rotateX(180deg);

    @media (min-width: 360px) {
        transform: rotateY(180deg);
    }

    &> section {
        position: relative;
        padding-inline: .5rem;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: clamp(0.5rem, 3vw, 1.25rem);
        text-align: center;
        align-self: center;
        color: white;
        
        &> * {
            overflow-wrap: break-word;
            hyphens: auto;
        }

        &> dl {
            display: grid;
            gap: .25rem;
            text-align: start;
            width: 100%;
            overflow-wrap: break-word;

            & dt {
                font-weight: bold;
            }

            & dd {
                margin-inline-start: 1.5rem;

                &::before {
                    content: '> '
                }
            }
        }

        &> #emoji {
            position: absolute;
            top: 0;
        }

        &> img {
            width :min-content;
            height: min-content; 
        }
    }
}
